# dependencies
node_modules

# environment variables
.env

# uploads
uploads

# logs
logs
*.log
npm-debug.log*

# editor files
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# coverage
coverage

# temporary files
*.tmp
*.temp